In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [5]:
df = pd.read_csv('EDA_Gold_Silver_prices.csv')
df.columns = df.columns.str.strip()

In [6]:
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [7]:
df.describe()

       SilverPrice     GoldPrice
count   241.000000    241.000000
mean    685.282282  41180.102697
std     498.538816  28935.099175
min     155.800000  11084.770000
25%     226.610000  14388.340000
50%     537.930000  28636.080000
75%    1070.970000  74476.640000
max    1895.060000  95194.240000

In [8]:
df.corr(method ='pearson')

             SilverPrice  GoldPrice
SilverPrice     1.000000   0.954256
GoldPrice       0.954256   1.000000

In [15]:
df['Year'] = df['Month'].apply(lambda x: int(x.split("-")[1]) )

In [19]:
df[df.Year ==8].groupby('Year')['SilverPrice','GoldPrice'].sum().corr(method ='pearson')

             SilverPrice  GoldPrice
SilverPrice          NaN        NaN
GoldPrice            NaN        NaN

In [26]:
df[df.Year ==8].groupby('Year')['SilverPrice','GoldPrice'].corr(method ='pearson')

                  SilverPrice  GoldPrice
Year
8    SilverPrice     1.000000   0.009584
     GoldPrice       0.009584   1.000000