In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot  as plt

In [50]:
df = pd.read_csv('nas.csv')
df.columns = df.columns.str.strip()

In [51]:
df.columns

Index(['STUID', 'State', 'District', 'Gender', 'Age', 'Category',
       'Same.language', 'Siblings', 'Handicap', 'Father.edu', 'Mother.edu',
       'Father.occupation', 'Mother.occupation', 'Below.poverty',
       'Use.calculator', 'Use.computer', 'Use.Internet', 'Use.dictionary',
       'Read.other.books', 'X..Books', 'Distance', 'Computer.use',
       'Library.use', 'Like.school', 'Subjects', 'Give.Lang.HW',
       'Give.Math.HW', 'Give.Scie.HW', 'Give.SoSc.HW', 'Correct.Lang.HW',
       'Correct.Math.HW', 'Correct.Scie.HW', 'Correct.SocS.HW',
       'Help.in.Study', 'Private.tuition', 'English.is.difficult',
       'Read.English', 'Dictionary.to.learn', 'Answer.English.WB',
       'Answer.English.aloud', 'Maths.is.difficult', 'Solve.Maths',
       'Solve.Maths.in.groups', 'Draw.geometry', 'Explain.answers',
       'SocSci.is.difficult', 'Historical.excursions', 'Participate.in.SocSci',
       'Small.groups.in.SocSci', 'Express.SocSci.views',
       'Science.is.difficult', 'Observe.experiments', 'Conduct.experiments',
       'Solve.science.problems', 'Express.science.views', 'Watch.TV',
       'Read.magazine', 'Read.a.book', 'Play.games', 'Help.in.household',
       'Maths..', 'Reading..', 'Science..', 'Social..'],
      dtype='object')

In [43]:
df.groupby(['Mother.edu','Siblings'])['STUID'].count()

Mother.edu      Siblings
Degree & above  1 sibling         88
                2 siblings        36
                3 siblings        11
                4+ siblings        6
                Single child      20
Illiterate      1 sibling        533
                2 siblings       923
                3 siblings       532
                4+ siblings      469
                Single child      88
Primary         1 sibling        689
                2 siblings       771
                3 siblings       417
                4+ siblings      251
                Single child      92
Secondary       1 sibling       1050
                2 siblings       846
                3 siblings       348
                4+ siblings      255
                Single child      92
Sr secondary    1 sibling        206
                2 siblings       132
                3 siblings        48
                4+ siblings       23
                Single child      24
Name: STUID, dtype: int64

In [53]:
df = df[~df.Age.isnull()]

In [60]:
df.Age.isnull().sum()
#df.Age.value_counts()

0

In [57]:
def getInt(x):
    return int(x[:2]) if x and len(x) >1 else int(x)

In [62]:
df['Age_In_Years'] = df.Age.apply(lambda x: getInt(x))

In [67]:
df['Age_In_Years'].value_counts()

14    4349
13    2798
15     844
12     298
16     264
11      16
Name: Age_In_Years, dtype: int64

In [121]:
data = df[df['Age_In_Years'] >11].pivot_table(values = 'Science..', index = 'Age_In_Years',columns='Father.edu', aggfunc = 'mean')

KeyError: 'Age_In_Years'

In [120]:
import seaborn as sns
sns.boxplot(data)

NameError: name 'runs' is not defined

In [73]:
import seaborn as sns
sns.boxplot(data,x='Father.edu',y='Age_In_Years	')

TypeError: boxplot() got multiple values for argument 'x'

In [77]:
df['X..Books']

0                NaN
1                NaN
2                NaN
3         1-10 books
4         1-10 books
5                NaN
6         1-10 books
9           No books
10        1-10 books
11          No books
12         25+ books
13        1-10 books
14               NaN
15               NaN
16               NaN
17               NaN
18        1-10 books
19               NaN
20          No books
21        1-10 books
22          No books
23               NaN
24               NaN
25               NaN
26        1-10 books
27        1-10 books
28        1-10 books
29          No books
30        1-10 books
31        1-10 books
            ...
8771    11-125 books
8772      1-10 books
8773      1-10 books
8774      1-10 books
8775      1-10 books
8776      1-10 books
8777        No books
8778             NaN
8779             NaN
8780      1-10 books
8781      1-10 books
8782      1-10 books
8783    11-125 books
8784        No books
8785      1-10 books
8786      1-10 books
8787      1-10 books
8788      1-10 books
8789        No books
8790      1-10 books
8791      1-10 books
8792      1-10 books
8793      1-10 books
8794      1-10 books
8795             NaN
8796      1-10 books
8797      1-10 books
8798      1-10 books
8799      1-10 books
8800      1-10 books
Name: X..Books, Length: 8569, dtype: object

In [89]:
import pandas as pd
cust_rating = pd.read_csv('https://query.data.world/s/ILc-P4llUraMaYN6N6Bdw7p6kUvHnj')
cust_rating.columns = cust_rating.columns.str.strip()

In [115]:
import math
cust_rating['avg_rating'] = round(cust_rating[["rating", "food_rating","service_rating"]].mean(axis=1),0)
#df = cust_rating[["rating", "food_rating","service_rating"]].mean()

#df = round(df,2)
#print(df)
print(cust_rating.head(10))

  userID  placeID  rating  food_rating  service_rating  avg_rating
0  U1077   135085       2            2               2         2.0
1  U1077   135038       2            2               1         2.0
2  U1077   132825       2            2               2         2.0
3  U1077   135060       1            2               2         2.0
4  U1068   135104       1            1               2         1.0
5  U1068   132740       0            0               0         0.0
6  U1068   132663       1            1               1         1.0
7  U1068   132732       0            0               0         0.0
8  U1068   132630       1            1               1         1.0
9  U1067   132584       2            2               2         2.0

In [118]:
import pandas as pd
order = pd.read_csv('https://query.data.world/s/3hIAtsCE7vYkPEL-O5DyWJAeS5Af-7')
order['Order_Date'] = pd.to_datetime(order['Order_Date'])

order['day'] = order['Order_Date'].apply(lambda x: x.day)

print(order.head(10))

   Order_ID Order_Date Order_Priority  Ord_id  day
0         3 2010-10-13            LOW   Ord_1   13
1       293 2012-01-10           HIGH   Ord_2   10
2       483 2011-10-07           HIGH   Ord_3    7
3       515 2010-08-28  NOT SPECIFIED   Ord_4   28
4       613 2011-06-17           HIGH   Ord_5   17
5       643 2011-03-24           HIGH   Ord_6   24
6       678 2010-02-26            LOW   Ord_7   26
7       807 2010-11-23         MEDIUM   Ord_8   23
8       868 2012-08-06  NOT SPECIFIED   Ord_9    6
9       933 2012-04-08  NOT SPECIFIED  Ord_10    8